   <header class="header">
            <div class="logo">
                <a href="/">
                    <h2>Read<span>ADDA</span></h2>
                </a>
            </div>
            <div class="src_pro"> 
                <div class="search_bar">
                <form action="/search" method="post">
                     <input type="text" name="search" placeholder="Find book here">
                     <button type="submit"><a><img class="search_icon" src="/img/search.png" alt="search"></a></button>
                </form>
            </div>
            <div class="space"></div>
            <div class="profile">
                <a href="/profile"><img src="/img/profile.png" alt="profile"></a>
            </div>
        </div>
    </header>